@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
@import url('./theme-toggler-small.css');
:root {
    --bg-dark: rgb(11,46,101);
    --text-dark: rgb(255, 255, 255);
    --bg-light: rgb(255, 255, 255);
    --text-light: rgb(11,46,101);

    --bg-dark-rgb: 11,46,101;
    --text-dark-rgb: 255, 255, 255;
    --bg-light-rgb: 255, 255, 255;
    --text-light-rgb: 11,46,101;

    --main-bg: var(--bg-light);
    --main-color: var(--text-light);
    --main-bg: var(--bg-dark);
    --main-color: var(--text-dark);

    --main-bg-rgb: var(--bg-light-rgb);
    --main-color-rgb: var(--text-light-rgb);
    --main-bg-rgb: var(--bg-dark-rgb);
    --main-color-rgb: var(--text-dark-rgb);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    font-weight: 600;
}

body {
    background: #6c8dc2;
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 1s ease;
}

.theme-switcher-container {
    display: flex;
    justify-content: end;
    margin-bottom: 4px;
}



.preloader{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    z-index: 999!important;

}
.hidden {
    visibility: hidden;
}

#citySelection ul {
    list-style: none;
    position: absolute;
    background: rgba(var(--main-color-rgb), 0.7);
    color: var(--main-bg);
    padding: 15px;
    border-radius: 12px;
    width: 100%;
    margin-top: 5px;
}

#unit-toggle {
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 5px;
    color: rgba(var(--main-color-rgb), .7);
}

#main-container {
    border: solid;
    width: 95%;
    z-index: 1;

    background: var(--main-bg);
    color: var(--main-color, red);
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 12px 20px;
    transition: background .5s ease-in;
}

#fav-btn {
    cursor: pointer;
}

.city-sel-item {
    text-transform: capitalize;
    cursor: pointer;
}

.input-container{
    position: relative;
    margin-bottom: 25px;
}

.city-input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border:3px solid transparent;
    background:rgb(0,0,0,0.15);
    color: rgba(var(--main-color-rgb), .7);
    outline: none;
    font-weight: 500;
    transition:0.25s border;
    padding-right:45px;
}

.city-input:focus{
    border: 3px solid rgb(0,0,0,0.15);
}

.city-input::placeholder{
    color: rgba(var(--main-color), 0.1);
   
}

.search-btn {
    position:absolute;
    right:16px;
    top:50%;
    transform:translateY(-50%);
    background: none;
    display:fex;
    border:none;
    cursor:pointer;
}

.weather-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location{
    display: flex;
    align-items: center;
    gap: 6px;
}

.regular-txt{
    font-weight: 400;
}

.weather-summary-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img{
    width:120px;
    height:120px;
}

.weather-summary-info{
    text-align: end;
}

.weather-conditions-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item span{
    font-size: 30px;
}

.forecast-items-container{
    display: flex;
    gap: 15px;
    padding-bottom: 12px;
    overflow-x: auto;
}
.forecast-items-container::-webkit-scrollbar {
    height: 8px;
}
.forecast-items-container::webkit-scrollbar-track {
    background:rgb(0,0,0,0.1); 
    border-radius:99px;
}
.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0,0,0,0.15);
    border-radius: 99px;

}

.forecast-item {
    min-width: 80px;
    background-color: rgba(var(--main-color-rgb), 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: background-color 0.3s;
    img {
        width: 35px;
        height: 35px;
    }
}

.forecast-item-temp {
    font-size: 0.6rem;
}

.forecast-item:hover{
    background: rgb(255,255,255,0.15);
}

.temp-txt {
    font-size: 1.5rem;
}



.section-message img{
    height:180px;
    width:fit-content;
}

.section-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25%;

}


.material-symbols-outlined {
    color: rgba(var(--main-color-rgb), .8);
}

@media only screen and (min-width: 768px) {
    #main-container {
        width: 450px;
    }

.forecast-items-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
   
  }

  .forecast-item {
    flex: 1 1 calc(50% - 1rem); /* 2 items per row */
    font-size: 0.85rem;
    padding: 0.8rem;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    #main-container {
        width: 400px;
        max-width: 90%;
    }
    .weather-summary-container {
        font-size: 0.8rem;
        img {
            width: 80px;
            height: 80px;
        }
    }
    .forecast-items-container {
        display: none;
    }
}